$white : #FFF;
$red : #E65C43;
$gray : gray;
$graybarcl: #F5F6F6;
$headlinecl: #F25C43;
$body_font: 'Roboto', sans-serif;
$bgImg:'../images/bg.gif';
$smImg:'../images/social-media.png';
$lgImg:'../images/logo.png';